.ajax-filter-wrapper{
    overflow: hidden;
}
.ajax-filter-wrapper .checkbox-filter-ajax{
    height: 21px;
    width: 21px;
    background: transparent;
    border: 1px solid #ccc;
    position: relative;
    float: left;
    margin-right: 8px;
    top: 2px;
}
.ajax-filter-wrapper .checkbox-filter-ajax .checkbox-yes{
    display: none;
}
.ajax-filter-wrapper .checkbox-filter-ajax:hover{
    border: 1px solid #ed8323;
    cursor: pointer;
}
.ajax-filter-wrapper .checkbox-filter-ajax.active{
    background-color: #ed8323;
    border: 1px solid #ed8323;
}
.ajax-filter-wrapper .checkbox-filter-ajax.active .checkbox-yes{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 19px;
    font-size: 14px;
}
.ajax-filter-wrapper .search_rating_star{
    margin-bottom: 6px;
    cursor: pointer;
}
.ajax-filter-wrapper .ajax-tax-name{
    margin-bottom: 10px;
    cursor: pointer;
}