/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"), url(../fonts/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lWAe5ixi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"), url(../fonts/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.full-page-absolute {
  display: none; }

.container .wpb_content_element {
  margin-bottom: 0px; }

[class*="col-"] {
  background-color: transparent !important;
  border: none !important; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@keyframes shine {
  100% {
    left: 125%; } }

.st-single-hotel-modern-page {
  background-color: #FFFFFF; }

.page-template a {
  font-family: "Poppins", sans-serif;
  color: #1A2B48; }

.page-template a:hover {
  color: #3484F5; }

label {
  font-family: "Poppins", sans-serif; }

.thumbnail {
  margin-bottom: 30px; }

button {
  font-family: "Poppins", sans-serif; }

strong {
  font-weight: 500; }

*:focus {
  outline: none; }

h1, h2, h3, h4, h5 {
  padding: 0px;
  margin: 0px; }

a:hover, a:focus {
  text-decoration: none; }

ul, li {
  padding: 0;
  margin: 0px;
  list-style: none; }

.col-4 {
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  position: relative;
  min-height: 1px; }

#morefloatingBarsG {
  position: relative; }
  #morefloatingBarsG:after {
    content: '';
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9; }

/* Load */
.ngothoai-spinner {
  color: #3484F5;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.ngothoai-spinner div {
  -webkit-transform-origin: 32px 32px;
  transform-origin: 32px 32px;
  -webkit-animation: ngothoai-spinner 1.2s linear infinite;
  animation: ngothoai-spinner 1.2s linear infinite; }

.ngothoai-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 15px;
  left: 30px;
  width: 3px;
  height: 10px;
  border-radius: 20%;
  background: #3484F5; }

.ngothoai-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.ngothoai-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.ngothoai-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.ngothoai-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.ngothoai-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.ngothoai-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.ngothoai-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.ngothoai-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.ngothoai-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.ngothoai-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.ngothoai-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

.ngothoai-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

@-webkit-keyframes ngothoai-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes ngothoai-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

body {
  color: #1A2B48;
  color: #1A2B48;
  font-family: "Poppins", sans-serif;
  position: relative; }
  body .load-ajax-icon .loader-wrapper {
    position: relative;
    top: -50px; }
    body .load-ajax-icon .loader-wrapper .st-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 50px;
      height: 6px;
      background: #5191FA;
      border-radius: 5px;
      margin-left: -25px;
      -webkit-animation: load 1.8s ease-in-out infinite;
      animation: load 1.8s ease-in-out infinite; }
      body .load-ajax-icon .loader-wrapper .st-loader::before {
        top: -20px;
        left: 10px;
        width: 40px;
        background: #FA5636;
        margin-left: -20px;
        position: absolute;
        display: block;
        content: "";
        -webkit-animation: load 1.8s ease-in-out infinite;
        animation: load 1.8s ease-in-out infinite;
        height: 6px;
        border-radius: 5px; }
      body .load-ajax-icon .loader-wrapper .st-loader::after {
        bottom: -20px;
        width: 35px;
        background: #ffab53;
        margin-left: -17px;
        position: absolute;
        display: block;
        content: "";
        -webkit-animation: load 1.8s ease-in-out infinite;
        animation: load 1.8s ease-in-out infinite;
        height: 6px;
        border-radius: 5px;
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9; }
  body a {
    color: #1A2B48; }
  body *:focus {
    outline: 0; }
  body *:active {
    outline: 0; }
  body .mc4wp-error p {
    color: #cc0000;
    font-size: 13px; }
  body .mc4wp-success p {
    color: #12bb4e;
    font-size: 13px; }
  body .st.bg-holder.bg-full-button {
    background-repeat: no-repeat;
    background-size: 100% auto; }
  body .st-single .blog-item {
    margin-bottom: 30px; }
  body .page-template .st-button--main:hover {
    border: none;
    color: #FFFFFF; }
    body .page-template .st-button--main:hover:after {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); }
  body .loadmore-ccv {
    margin-top: 30px; }
  body .st-button--main {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 0px;
    border: 1px solid #3484F5;
    background-color: transparent;
    color: #3484F5;
    font-size: 14px;
    padding: 10px 24px;
    line-height: 50px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    body .st-button--main:hover {
      border: none;
      color: #FFFFFF; }
      body .st-button--main:hover:after {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1); }
    body .st-button--main:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center;
      background: #3484F5;
      z-index: -1;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  body .title-insta img {
    margin-right: 10px; }
  body .title-insta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body .title-insta .st-img-icon {
      display: inline-block; }
      body .title-insta .st-img-icon img {
        margin-right: 10px; }
    body .title-insta p {
      margin: 0px; }
      body .title-insta p.text {
        font-family: 'Poppins';
        color: #1A2B48;
        letter-spacing: 0; }
  body .text-insta {
    display: inline-block;
    float: right;
    position: relative; }
  body .list-group.st-gallery-grid.poup-galler-st.poup-video-st .thumbnail {
    margin-bottom: 0px !important; }
  body .list-group.st-gallery-grid.poup-galler-st .thumbnail {
    margin-bottom: 0px !important; }
  body .dropdown-language a {
    color: #FFFFFF;
    font-family: "Poppins", serif;
    font-size: 14px; }
    body .dropdown-language a:hover {
      color: #FFFFFF; }
  body .dropdown-language .dropdown-menu li a {
    color: #5E6D77; }
  body .dropdown-language .dropdown-menu li:hover a {
    color: #3484F5;
    background-color: #FFFFFF; }
  body .menu-item-has-children .caret {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 0px;
    vertical-align: inherit;
    border: transparent; }
    body .menu-item-has-children .caret:after {
      content: "\f107";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 0px;
      vertical-align: inherit;
      border: transparent; }
  body .vc_sep_holder span.vc_sep_line {
    background-color: #D7DCE3;
    border-color: #D7DCE3;
    border-top: #D7DCE3 !important; }
  body .blog-st-single .blog-item {
    margin-bottom: 60px; }
  body .blog-item {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    body .blog-item .date-post {
      font-family: 'Poppins';
      font-size: 14px;
      color: #768092;
      letter-spacing: 0;
      text-transform: uppercase; }
    body .blog-item:hover .header-thumb img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    body .blog-item .header-thumb {
      width: 100%;
      overflow: hidden; }
      body .blog-item .header-thumb img {
        width: 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        height: 370px;
        -o-object-fit: cover;
        object-fit: cover; }
    body .blog-item .caption-post {
      width: 100%;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      body .blog-item .caption-post .title {
        margin-bottom: 15px;
        margin-top: 15px; }
        body .blog-item .caption-post .title a {
          font-family: 'Playfair Display';
          font-size: 24px;
          color: #1A2B48;
          letter-spacing: 0;
          line-height: 34px;
          font-weight: 600; }
      body .blog-item .caption-post .category {
        padding: 20px 0px 0px 0px; }
        body .blog-item .caption-post .category a {
          text-transform: uppercase;
          font-size: 1.6rem;
          color: #1A2B48; }
      body .blog-item .caption-post .date span {
        font-family: 'Poppins';
        font-size: 14px;
        color: #768092;
        letter-spacing: 0; }
  body .blog-st-single .row[class*=col-] {
    padding-bottom: 30px; }
  body .blog-st-single .tabbable-panel .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 60px;
    border-bottom: none; }
    body .blog-st-single .tabbable-panel .nav-tabs:before {
      display: none; }
    body .blog-st-single .tabbable-panel .nav-tabs li {
      text-align: center;
      border-left: 1px solid #1A2B48;
      border-top: 1px solid #1A2B48;
      border-bottom: 1px solid #1A2B48; }
      body .blog-st-single .tabbable-panel .nav-tabs li a {
        color: #5E6D77;
        font-size: 16px;
        font-family: "Poppins";
        padding: 24px 40px;
        background-color: #FFF;
        margin-right: 0;
        border: none; }
      body .blog-st-single .tabbable-panel .nav-tabs li.active a {
        color: #3484F5; }
      body .blog-st-single .tabbable-panel .nav-tabs li:last-child {
        border-right: 1px solid #1A2B48; }
      body .blog-st-single .tabbable-panel .nav-tabs li:after {
        display: none; }
  body .list-group {
    margin: 0px; }
  body .post-navigation h2 {
    display: none; }
  body .sticky .header-content .option-item.st-check-lang::after {
    bottom: 12px !important; }
  body .bg-full-button {
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  body.page-template-template-hotel-activity {
    background-color: #ffffff; }
  body .poup-galler-sticon-gallery {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    body .poup-galler-sticon-gallery img {
      width: 26px;
      margin-bottom: 4px; }
    body .poup-galler-sticon-gallery svg {
      opacity: 0.4;
      -webkit-transition: opacity .3s;
      transition: opacity .3s; }
    body .poup-galler-sticon-gallery .circle {
      -webkit-transform: rotate(90deg) scaleY(-1);
      transform: rotate(90deg) scaleY(-1); }
  body .st-gallery-grid.poup-galler-st svg {
    width: 128px;
    height: 128px;
    background: transparent; }
  body .st-gallery-grid.poup-galler-st #gallery_shape {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    -webkit-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  body .st-gallery-grid.poup-galler-st:hover svg {
    opacity: 1; }
  body .st-gallery-grid.poup-video-st svg {
    width: 128px;
    height: 128px;
    background: transparent; }
  body .st-gallery-grid.poup-video-st #video_shape {
    /* fill: none;
		    stroke: #FFFFFF;
		    stroke-width: 3;
		    transition: all 4s ease-in-out;
		    transform: rotate(-90deg);
		  	transform-origin: center center; */ }
  body .st-gallery-grid.poup-video-st:hover svg {
    opacity: 1; }
  body .st-gallery-grid.poup-video-st .video-st-popup img {
    margin-left: 4px; }
  body .st-single-hotel-modern-page .nav-links .nav-previous {
    float: left; }
    body .st-single-hotel-modern-page .nav-links .nav-previous a {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
      body .st-single-hotel-modern-page .nav-links .nav-previous a span {
        display: block; }
  body .st-single-hotel-modern-page .nav-links .nav-next {
    float: right; }
    body .st-single-hotel-modern-page .nav-links .nav-next a {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
      body .st-single-hotel-modern-page .nav-links .nav-next a span {
        display: block; }
  body .st-feature-image {
    margin-top: 60px; }
    body .st-feature-image img {
      width: 100%; }
  body .check_availability {
    margin-bottom: 60px; }
  body .st-content-post {
    margin: 0 auto;
    font-family: 'Poppins';
    color: #5E6D77;
    letter-spacing: 0;
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 100px;
    max-width: 870px; }
    body .st-content-post p {
      font-family: 'Poppins';
      color: #5E6D77;
      letter-spacing: 0; }
    body .st-content-post .author-info {
      margin-top: 60px;
      margin-bottom: 60px;
      padding: 30px;
      border: 1px solid #D7DCE3;
      border-radius: 3px; }
      body .st-content-post .author-info .media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body .st-content-post .author-info .media .media-heading {
          font-family: 'Poppins';
          font-size: 16px;
          color: #1A2B48;
          letter-spacing: 0;
          margin-bottom: 0px; }
        body .st-content-post .author-info .media .title-body {
          display: flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 10px; }
          body .st-content-post .author-info .media .title-body .st-social a {
            margin-left: 20px; }
        body .st-content-post .author-info .media .desc {
          font-family: 'Poppins';
          font-weight: 400;
          font-size: 14px;
          color: #5E6D77;
          letter-spacing: 0; }
      body .st-content-post .author-info .avatar {
        border-radius: 100px;
        width: 100px; }
    body .st-content-post #comment-wrapper h2 {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 18px;
      color: #5E6D77;
      letter-spacing: 0;
      padding-bottom: 15px;
      border-bottom: 1px solid #D7DCE3;
      font-size: 18px;
      color: #5E6D77; }
    body .st-content-post #comment-wrapper ol {
      list-style: none;
      padding-left: 0;
      margin: 0; }
      body .st-content-post #comment-wrapper ol li {
        padding-top: 30px;
        padding-bottom: 30px; }
        body .st-content-post #comment-wrapper ol li .comment {
          margin-bottom: 0; }
          body .st-content-post #comment-wrapper ol li .comment .media {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            body .st-content-post #comment-wrapper ol li .comment .media .media-left {
              padding-right: 20px; }
              body .st-content-post #comment-wrapper ol li .comment .media .media-left .avatar {
                border-radius: 50%; }
            body .st-content-post #comment-wrapper ol li .comment .media .media-heading {
              font-weight: 500;
              color: #1A2B48;
              font-size: 14px; }
            body .st-content-post #comment-wrapper ol li .comment .media .date {
              font-size: 14px;
              color: #ADB5C3;
              font-family: 'Poppins';
              letter-spacing: 0; }
          body .st-content-post #comment-wrapper ol li .comment .comment-item-body .comment-content {
            margin-top: 30px;
            font-size: 14px;
            color: #5E6D77; }
          body .st-content-post #comment-wrapper ol li .comment .comment-item-body .comment-reply a {
            margin-top: 10px;
            font-size: 14px;
            color: #5191FA;
            text-transform: uppercase;
            font-weight: 500; }
    body .st-content-post #respond {
      margin-top: 30px;
      padding: 30px;
      border: 1px solid #D7DCE3;
      letter-spacing: 0;
      font-family: 'Poppins'; }
      body .st-content-post #respond .comment-reply-title {
        margin: 0;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        color: #1A2B48;
        letter-spacing: 0;
        text-transform: uppercase; }
      body .st-content-post #respond .comment-notes {
        font-size: 14px;
        color: #5E6D77;
        margin-top: 10px; }
      body .st-content-post #respond .form-control {
        height: 40px;
        margin-top: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #DAE1E7; }
      body .st-content-post #respond textarea {
        min-height: 140px;
        width: 100%;
        display: block;
        resize: none; }
      body .st-content-post #respond .submit {
        border-radius: 5px;
        color: #FFF;
        margin-top: 35px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 14px;
        background: #5191FA;
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: 500; }
  body .single-category-blog {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px; }
  body .st-title-single {
    text-align: center;
    margin: 0 auto;
    max-width: 713px; }
    body .st-title-single .blog-header-title {
      font-family: 'Playfair Display';
      font-weight: 600;
      color: #1A2B48;
      letter-spacing: 0;
      text-align: center;
      line-height: 52px;
      font-size: 36px; }
  body .st-item-team .st-img-team {
    overflow: hidden;
    position: relative; }
    body .st-item-team .st-img-team img {
      width: 100%; }
  body .st-item-team .st-content-team {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    body .st-item-team .st-content-team .team-left .name {
      font-family: 'Poppins';
      color: #1A2B48;
      letter-spacing: 0;
      text-align: left;
      font-size: 16px;
      font-weight: 600; }
    body .st-item-team .st-content-team .team-left .work {
      font-family: Poppins;
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0;
      text-align: left;
      font-style: italic; }
    body .st-item-team .st-content-team .team-right ul {
      position: relative; }
      body .st-item-team .st-content-team .team-right ul li {
        float: left;
        position: relative;
        margin-left: 24px; }
        body .st-item-team .st-content-team .team-right ul li a i {
          color: #1A2B48;
          font-size: 18px; }
  body .st-single-slider .slider-st img {
    height: 590px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  body .st-single-slider .slider-st .owl-dots {
    margin-top: 50px;
    text-align: center; }
    body .st-single-slider .slider-st .owl-dots > button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid transparent;
      margin-right: 10px;
      margin-left: 10px;
      background: #d8d8d8; }
      body .st-single-slider .slider-st .owl-dots > button.active {
        background: #3484F5; }
  body p {
    margin-bottom: 0px; }
  body .col-6 {
    width: 50%;
    float: left;
    position: relative; }
  body .st-timeline {
    position: relative; }
    body .st-timeline .title-timeline h3 {
      font-family: 'Playfair Display';
      letter-spacing: 0;
      text-align: center;
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 50px; }
    body .st-timeline .title-timeline .icon-time-line {
      border: 1px solid #3484F5;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      position: relative;
      background: transparent;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      border-radius: 50%;
      padding: 7px;
      margin-bottom: 50px; }
    body .st-timeline .st-content-time-line {
      position: relative;
      display: inline-block;
      width: 100%; }
      body .st-timeline .st-content-time-line.center .item-option-center {
        min-height: 50px;
        background-image: linear-gradient(to bottom, #A9B8CB 9px, rgba(254, 255, 255, 0) 0%);
        background-position: right;
        background-size: 2px 14px;
        background-repeat: repeat-y;
        margin-bottom: 50px; }
      body .st-timeline .st-content-time-line.center .st-option-text .height-equal {
        max-width: 833px;
        margin: 0 auto; }
        body .st-timeline .st-content-time-line.center .st-option-text .height-equal .st-string {
          font-family: 'Poppins';
          color: #5E6D77;
          letter-spacing: 0;
          font-size: 18px;
          font-weight: 400;
          text-align: center; }
      body .st-timeline .st-content-time-line.left {
        float: left; }
        body .st-timeline .st-content-time-line.left .item-option .height-equal {
          left: 112px; }
        body .st-timeline .st-content-time-line.left .item-option:nth-child(1) {
          background-image: linear-gradient(to bottom, #A9B8CB 10px, rgba(254, 255, 255, 0) 0%);
          background-position: right;
          background-size: 1.5px 15px;
          background-repeat: repeat-y;
          padding: 50px 85px 50px 0px; }
      body .st-timeline .st-content-time-line.right .item-option {
        float: right; }
        body .st-timeline .st-content-time-line.right .item-option .height-equal {
          right: 112px;
          text-align: right; }
      body .st-timeline .st-content-time-line.right .item-option:nth-child(1) {
        background-image: linear-gradient(to bottom, #A9B8CB 10px, rgba(254, 255, 255, 0) 0%);
        background-position: left;
        background-size: 1.5px 15px;
        background-repeat: repeat-y;
        padding: 50px 0px 50px 85px; }
      body .st-timeline .st-content-time-line .item-option {
        width: 50%;
        display: inline-block;
        float: left;
        position: relative;
        z-index: 1;
        min-height: 500px; }
        body .st-timeline .st-content-time-line .item-option img {
          max-width: 100%; }
        body .st-timeline .st-content-time-line .item-option .height-equal {
          position: absolute;
          background: transparent;
          border: none;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
          body .st-timeline .st-content-time-line .item-option .height-equal .st-string {
            font-family: 'Poppins';
            color: #5E6D77;
            letter-spacing: 0;
            font-size: 18px;
            font-weight: 400; }
  body .st-about p {
    font-family: 'Poppins';
    color: #5E6D77;
    letter-spacing: 0;
    line-height: 24px; }
  body form input.name-st {
    border: 1px solid #DAE1E7;
    border-radius: 3px;
    width: 470px;
    padding: 5px;
    margin-bottom: 20px; }
  body form input.email-st {
    border: 1px solid #DAE1E7;
    border-radius: 3px;
    width: 470px;
    padding: 5px;
    margin-bottom: 20px; }
  body form textarea.message-st {
    width: 470px;
    border: 1px solid #DAE1E7;
    height: 210px;
    margin-bottom: 38px; }
  body form .st-send-button {
    font-family: 'Poppins';
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    background-color: #3484F5;
    border: 1px solid #3484F5;
    padding: 6px;
    font-weight: 600; }
  body #st_single_map {
    height: 500px;
    width: 100%; }
  body .vc_btn3-container.st-contact-button > a {
    background: #1A2B48;
    border-radius: 0px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left; }
  body .st-contact {
    font-family: "Poppins";
    font-size: 24px;
    color: #1A2B48;
    letter-spacing: 0; }
  body .icon-images-scroll {
    position: absolute;
    bottom: 121px;
    right: 86px;
    z-index: 9;
    background-color: transparent;
    border: none; }
  body .st-testimonial-slider > h3 {
    font-family: 'Playfair Display';
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;
    font-size: 36px; }
  body .st-testimonial-slider .st-testimonial-slider-single .icon-test {
    width: 30px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px; }
  body .st-testimonial-slider .st-testimonial-slider-single p {
    max-width: 868px;
    font-family: 'Poppins';
    font-size: 24px;
    color: #1A2B48;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px; }
  body .st-testimonial-slider .st-testimonial-slider-single .info-author .author {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body .st-testimonial-slider .st-testimonial-slider-single .info-author .author img {
      border-radius: 50%;
      float: none;
      -webkit-box-shadow: 0 0 black;
      box-shadow: 0 0 black;
      max-width: 60px;
      display: inline-block; }
    body .st-testimonial-slider .st-testimonial-slider-single .info-author .author .author-meta {
      margin-left: 24px;
      display: inline-block; }
      body .st-testimonial-slider .st-testimonial-slider-single .info-author .author .author-meta h4 {
        font-family: Poppins;
        font-size: 16px;
        color: #1A2B48;
        letter-spacing: 0;
        text-align: left; }
      body .st-testimonial-slider .st-testimonial-slider-single .info-author .author .author-meta .job {
        font-family: Poppins;
        font-size: 14px;
        color: #5E6D77;
        letter-spacing: 0;
        text-align: left; }
  body .st-testimonial-slider > button {
    z-index: 10;
    background: transparent;
    border: transparent; }
    body .st-testimonial-slider > button.carousel--prev {
      position: absolute;
      background: transparent;
      border: none;
      color: #333;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0px; }
    body .st-testimonial-slider > button.carousel--next {
      position: absolute;
      background: transparent;
      border: none;
      color: #333;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0px; }
  body .st-testimonial-slider .owl-dots {
    margin-top: 60px;
    text-align: center; }
    body .st-testimonial-slider .owl-dots .owl-dot {
      background: transparent;
      width: 10px;
      height: 10px;
      background: #D8d8d8;
      border-radius: 50%;
      border: 2px solid transparent;
      margin-right: 10px;
      margin-left: 10px; }
      body .st-testimonial-slider .owl-dots .owl-dot.active {
        background: #3484F5; }
  body .bg-button .vc_btn3-container a.vc_general {
    border: transparent;
    border-radius: 0px;
    font-family: 'Poppins';
    font-size: 14px;
    color: #1A2B48;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    body .bg-button .vc_btn3-container a.vc_general:hover {
      background-color: #3484F5;
      color: #FFFFFF; }
  body .bg-button h4 {
    color: #fffffff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center; }
  body .menutab .tabbable-panel .nav-tabs {
    border-bottom: transparent;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px; }
    body .menutab .tabbable-panel .nav-tabs li {
      border: transparent;
      font-family: 'Poppins';
      font-size: 16px;
      color: #5191FA;
      letter-spacing: 0;
      text-align: center;
      margin-right: 61px;
      float: none;
      display: inline-block; }
      body .menutab .tabbable-panel .nav-tabs li.active {
        border-bottom: 2px solid #5191FA; }
        body .menutab .tabbable-panel .nav-tabs li.active a {
          color: #5191FA; }
      body .menutab .tabbable-panel .nav-tabs li a {
        background: transparent;
        color: #1A2B48;
        font-family: Poppins;
        font-size: 16px;
        letter-spacing: 0;
        text-align: center;
        font-weight: 600;
        border: transparent;
        text-transform: uppercase;
        padding: 5px 0px; }
  body .menutab .st-item-menu-box {
    position: relative;
    margin-bottom: 60px; }
    body .menutab .st-item-menu-box .image {
      float: left;
      position: relative; }
      body .menutab .st-item-menu-box .image img {
        vertical-align: middle;
        border-style: none;
        width: 100px;
        height: 100px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%; }
    body .menutab .st-item-menu-box .caption {
      position: relative;
      margin-left: 100px;
      padding: 19px 90px 19px 15px;
      min-height: 100px; }
      body .menutab .st-item-menu-box .caption h4 {
        font-family: Poppins;
        font-size: 14px;
        color: #5E6D77;
        letter-spacing: 0;
        font-weight: 600;
        margin-bottom: 5px; }
      body .menutab .st-item-menu-box .caption span {
        font-family: Poppins;
        font-size: 14px;
        color: #5E6D77;
        letter-spacing: 0; }
      body .menutab .st-item-menu-box .caption .price {
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 14px;
        color: #1A2B48;
        letter-spacing: 0;
        text-align: right;
        font-weight: 600; }
  body .list-group.st-gallery-masonry .grid.popup {
    position: relative;
    /* .circle {
	    			    position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%, -50%);
						height: 124px;
						width: 124px;
					.background {
						fill: transparent;
						stroke: #FFFFFF;
						transition: all 200ms ease;
						opacity: 0.6;
					}
					  .foreground {
					    fill: transparent;
					    stroke-dasharray: 377;
					    stroke-dashoffset: 377;
					    stroke: #FFFFFF;
					    transform-origin: 50% 50%;
					    transform: rotate(-270deg);
					    transition: all 800ms ease;
					  }
				  
					.line {
						stroke-width: 4;
						stroke: #1abc9c;
						transform-origin: 50% 50%;
						transition: all 500ms ease;
					}
				  
					.line2 {
						transform: rotate(-90deg);
					}
				  
					&:hover {
					    cursor: pointer;
					    
					    .background {
					      stroke: transparent;
					    }
					    
					    .foreground {
					      stroke-dashoffset: 0;
					      transform: rotate(-90deg);
					    }
					    
					    .line {
					      stroke: #EE3769;
					    }
					    
					    .line {
					      transform: rotate(180deg);
					    }
					    
					    .line2 {
					      transform: rotate(0);
					    }
					}

				} */ }
    body .list-group.st-gallery-masonry .grid.popup .spin {
      width: 5em;
      height: 5em;
      padding: 0; }
      body .list-group.st-gallery-masonry .grid.popup .spin:hover {
        color: #3484F5; }
      body .list-group.st-gallery-masonry .grid.popup .spin::before, body .list-group.st-gallery-masonry .grid.popup .spin::after {
        top: 0;
        left: 0; }
      body .list-group.st-gallery-masonry .grid.popup .spin::before {
        border: 2px solid transparent; }
      body .list-group.st-gallery-masonry .grid.popup .spin:hover::before {
        border-top-color: #3484F5;
        border-right-color: #3484F5;
        border-bottom-color: #3484F5;
        -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
        transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s; }
      body .list-group.st-gallery-masonry .grid.popup .spin::after {
        border: 0 solid transparent; }
      body .list-group.st-gallery-masonry .grid.popup .spin:hover::after {
        border-top: 2px solid #3484F5;
        border-left-width: 2px;
        border-right-width: 2px;
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -webkit-transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
        transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
        transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
        transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s; }
    body .list-group.st-gallery-masonry .grid.popup .circle {
      border-radius: 100%;
      -webkit-box-shadow: none;
      box-shadow: none;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      body .list-group.st-gallery-masonry .grid.popup .circle::before, body .list-group.st-gallery-masonry .grid.popup .circle::after {
        border-radius: 100%; }
    body .list-group.st-gallery-masonry .grid.popup .grid-item:hover {
      position: relative; }
      body .list-group.st-gallery-masonry .grid.popup .grid-item:hover img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1); }
      body .list-group.st-gallery-masonry .grid.popup .grid-item:hover::before {
        -webkit-animation: shine .75s;
        animation: shine .75s; }
    body .list-group.st-gallery-masonry .grid.popup .grid-item .galleryItem {
      display: block;
      position: relative; }
    body .list-group.st-gallery-masonry .grid.popup .grid-item .image-masony {
      position: relative; }
      body .list-group.st-gallery-masonry .grid.popup .grid-item .image-masony .icon-x {
        width: auto;
        position: absolute;
        top: 50%;
        /* position the top  edge of the element at the middle of the parent */
        left: 50%;
        /* position the left edge of the element at the middle of the parent */
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer; }
        body .list-group.st-gallery-masonry .grid.popup .grid-item .image-masony .icon-x .video-thumb__circle {
          opacity: .6;
          transform: rotate(90deg) scaleY(-1);
          -webkit-transform: rotate(90deg) scaleY(-1);
          -webkit-transition: opacity .3s;
          transition: opacity .3s; }
  body .list-group.st-gallery-masonry .grid:after {
    content: '';
    display: block;
    clear: both; }
    body .list-group.st-gallery-masonry .grid:after .grid-item {
      float: left; }
  body .list-group.st-gallery-masonry .grid-item {
    padding-bottom: 30px; }
    body .list-group.st-gallery-masonry .grid-item .image-masony {
      position: relative;
      overflow: hidden; }
      body .list-group.st-gallery-masonry .grid-item .image-masony::before {
        /*  position: absolute;
				    top: 0;
				    left: -75%;
				    z-index: 2;
				    display: block;
				    content: '';
				    width: 50%;
				    height: 100%;
				    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
				    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
				    -webkit-transform: skewX(-25deg);
				    transform: skewX(-25deg); */ }
      body .list-group.st-gallery-masonry .grid-item .image-masony img {
        display: block;
        max-width: 100%;
        webkit-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      body .list-group.st-gallery-masonry .grid-item .image-masony .video-thumb__circle img {
        height: auto; }
      body .list-group.st-gallery-masonry .grid-item .image-masony:hover {
        position: relative; }
        body .list-group.st-gallery-masonry .grid-item .image-masony:hover img {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1); }
        body .list-group.st-gallery-masonry .grid-item .image-masony:hover::before {
          -webkit-animation: shine .75s;
          animation: shine .75s; }
  body .list-group-slider .flickity-page-dots {
    bottom: -54px; }
    body .list-group-slider .flickity-page-dots li.dot {
      background: #1A2B48; }
      body .list-group-slider .flickity-page-dots li.dot.is-selected {
        background: #1A2B48; }
  body .list-group-slider .st-arrow {
    position: absolute;
    background: transparent;
    border: none;
    color: #333;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 73px;
    height: 73px; }
    body .list-group-slider .st-arrow img {
      border-radius: 50%; }
  body .list-group-slider .carousel--prev {
    left: 50px; }
  body .list-group-slider .carousel--next {
    right: 50px; }
  body .list-group-slider .carousel .flickity-slider .carousel-cell {
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell; }
    body .list-group-slider .carousel .flickity-slider .carousel-cell img {
      width: 590px;
      height: 650px;
      -o-object-fit: cover;
      object-fit: cover; }
  body .list-group .item .thumbnail {
    padding: 0px;
    border: transparent;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    /* &::before{
		    	    position: absolute;
				    top: 0;
				    left: -75%;
				    z-index: 2;
				    display: block;
				    content: '';
				    width: 50%;
				    height: 100%;
				    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
				    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
				    -webkit-transform: skewX(-25deg);
				    transform: skewX(-25deg);
		    	} */ }
    body .list-group .item .thumbnail img {
      height: 370px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      webkit-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  body .list-group .item .thumbnail:hover {
    position: relative; }
    body .list-group .item .thumbnail:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1); }
    body .list-group .item .thumbnail:hover::before {
      -webkit-animation: shine .75s;
      animation: shine .75s; }
  body .st-height-570 img {
    height: 570px;
    width: 570px;
    -o-object-fit: cover;
    object-fit: cover; }
  body .st-service-item ul li {
    border-right: 1px solid #d8d8d8 !important; }
    body .st-service-item ul li:last-child {
      border-right: transparent !important; }
    body .st-service-item ul li .padd-on .icon {
      margin-bottom: 16px; }
      body .st-service-item ul li .padd-on .icon img {
        width: 42px;
        height: 42px;
        -o-object-fit: cover;
        object-fit: cover; }
    body .st-service-item ul li .padd-on .content-text h2 {
      font-family: 'Poppins';
      color: #1A2B48;
      letter-spacing: 0;
      text-align: center;
      font-size: 14px;
      font-weight: 300; }
  body .st-service p {
    font-family: 'Poppins';
    font-size: 24px;
    color: #1A2B48;
    letter-spacing: 0;
    text-align: center;
    line-height: 36px; }
  body .st-full-width .container {
    width: 100%; }
  body .vc_row-o-equal-height .vc_column-inner {
    max-height: 750px; }
  body .header-mobile {
    display: none; }
  body header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    background-color: transparent;
    -webkit-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out; }
    body header .header-content {
      min-height: 100px;
      position: relative;
      top: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      body header .header-content .control-left {
        float: left;
        width: 70%;
        height: 100%; }
        body header .header-content .control-left .option-item {
          float: left;
          height: 100%; }
          body header .header-content .control-left .option-item .logo {
            padding: 25px 60px 25px 60px; }
            body header .header-content .control-left .option-item .logo a img {
              height: 46px;
              width: 149px;
              -o-object-fit: cover;
              object-fit: cover; }
        body header .header-content .control-left .menu-left {
          float: left;
          height: 100%;
          width: auto;
          display: block; }
          body header .header-content .control-left .menu-left div {
            float: left;
            height: 100%;
            width: auto;
            display: block; }
            body header .header-content .control-left .menu-left div .navbar-nav {
              background: transparent;
              padding: 0px; }
              body header .header-content .control-left .menu-left div .navbar-nav li > a {
                color: #FFFFFF !important;
                padding: 39px 26px;
                background-color: transparent; }
                body header .header-content .control-left .menu-left div .navbar-nav li > a:hover {
                  color: #FFFFFF; }
                body header .header-content .control-left .menu-left div .navbar-nav li > a:active {
                  color: #FFFFFF; }
              body header .header-content .control-left .menu-left div .navbar-nav li ul a {
                background-color: #FFFFFF;
                font-family: 'Poppins', serif;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0;
                text-align: left;
                color: #1A2B48 !important; }
                body header .header-content .control-left .menu-left div .navbar-nav li ul a:active {
                  color: #5E6D77; }
                body header .header-content .control-left .menu-left div .navbar-nav li ul a:hover {
                  color: #5E6D77; }
              body header .header-content .control-left .menu-left div .navbar-nav li .dropdown-menu {
                background: #FFF;
                border: none;
                list-style: none;
                position: absolute;
                left: 0;
                top: 120%;
                padding-left: 0;
                margin-bottom: 0;
                min-width: 200px;
                padding-top: 5px;
                padding-bottom: 5px;
                background: #FFF;
                -webkit-box-shadow: 0 1px 1px #dbdbdb;
                box-shadow: 0 1px 1px #dbdbdb;
                z-index: 999;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out; }
      body header .header-content .control-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        float: left;
        width: 40%;
        padding-right: 60px;
        height: 100%; }
        body header .header-content .control-right .option-item.st-check-lang::after {
          content: "";
          position: absolute;
          background: #d1cccc;
          width: 1px;
          height: 19px;
          left: 0px;
          bottom: 30px;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        body header .header-content .control-right .option-item {
          padding: 39px 30px;
          float: right;
          height: 100%;
          display: table;
          position: relative; }
          body header .header-content .control-right .option-item:last-child {
            padding: 0px; }
          body header .header-content .control-right .option-item .option-mid.book-your-tay {
            background: #FFFFFF;
            border: none; }
            body header .header-content .control-right .option-item .option-mid.book-your-tay a {
              font-family: 'Poppins', serif;
              font-weight: 500;
              font-size: 14px;
              color: #1A2B48;
              letter-spacing: 0;
              text-align: left;
              border: none;
              border-radius: 0px; }
          body header .header-content .control-right .option-item .option-mid .dropdown button {
            background: transparent;
            border: none;
            padding: 0px;
            color: #fff; }
            body header .header-content .control-right .option-item .option-mid .dropdown button:active {
              background: transparent;
              border: none; }
          body header .header-content .control-right .option-item .option-mid .location-phone a {
            font-family: 'Poppins', serif;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: left;
            padding-left: 10px; }
  body .main-slider {
    position: relative;
    /* .search-form-wrapper{
				position: relative;
				top: 0;
			.fotorama{
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				.fotorama__wrap{
					.fotorama__stage{
						.fotorama__stage__shaft{
							.fotorama__stage__frame{
								.fotorama__html{
									div{
										.search-form-text{
											text-align: center;
											position: absolute;
											top: 37%;
											transform: translate(0, -50%);
											left: 0;
											right: 0;
											z-index: 9;
											.container{
												.st-heading{
													line-height: 85px;
													font-weight: 500;
													font-family: 'Playfair Display', serif;
													font-size: 64px;
													color: #FFFFFF;
													letter-spacing: 0;
													text-align: center;

												}
												.sub-heading{
													font-family: 'Poppins', serif;
													font-size: 16px;
													color: #FFFFFF;
													letter-spacing: 0;
													text-align: center;
													line-height: 38px;
													margin-bottom: 35px
												}
												a{
													border: 1px solid #FFFFFF;
													background-color: transparent;
													border-radius: 0;
												}
											}
										}
										.promotion__overlay{
											position: absolute;
											left: 0;
											top: 0;
											width: 100%;
											height: 100%;
											opacity: 0.2;
											transform: rotate(-180deg);
											background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
										}
									}
								}
								
							}
						}
					}
					.fotorama__nav-wrap{
						position: relative;
						.fotorama__nav{
							width: 100px !important;
							position: absolute;
							z-index: 100;
							bottom: 0px;
							left: 0px;
							.fotorama__nav__shaft{
								float: left;
								padding-bottom: 136px;
								.fotorama__nav__frame{
									clear: both;
									float: left;
									width: 8px;
									height: auto;
									margin-top:25px;
									.fotorama__dot{
										width: 8px;
										height: 8px;
										left: 50px;
										position: absolute;
										z-index: 100;

									}
								}
							}
						}
					}
				}
			}
			
		} */ }
    body .main-slider .carousel-inner > .item .search-form-text {
      text-align: center;
      position: absolute;
      top: 37%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      left: 0;
      right: 0;
      z-index: 9; }
      body .main-slider .carousel-inner > .item .search-form-text .container .st-heading {
        line-height: 85px;
        font-weight: 500;
        font-family: 'Playfair Display', serif;
        font-size: 64px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center; }
      body .main-slider .carousel-inner > .item .search-form-text .container .sub-heading {
        font-family: 'Poppins', serif;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 38px;
        margin-bottom: 35px; }
      body .main-slider .carousel-inner > .item .search-form-text .container a {
        border: 1px solid #FFFFFF;
        background-color: transparent;
        border-radius: 0;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        body .main-slider .carousel-inner > .item .search-form-text .container a:hover {
          background-color: #3484F5;
          border: 1px solid #3484F5; }
    body .main-slider .carousel-inner > .item .promotion__overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
      background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
    body .main-slider .carousel-inner > .item > img {
      height: 780px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    body .main-slider .carousel-control.left,
    body .main-slider .carousel-control.right {
      background-image: none; }
  body .list-group.st-gallery-grid .thumbnail {
    margin-bottom: 0px; }
  body .list-group.st-gallery-grid .item .thumbnail {
    margin-bottom: 30px; }
  body .st-filter {
    bottom: 200px;
    position: relative; }
    body .st-filter .filter-search {
      position: relative; }
    body .st-filter form.template-hotel-activity_submit {
      display: inline-block;
      height: 100%;
      width: 850px;
      margin: 0 auto;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      display: inline-block;
      height: 100%;
      margin: 0 auto;
      padding: 0px;
      bottom: 80px; }
      body .st-filter form.template-hotel-activity_submit .row-5 {
        background-color: #FFFFFF;
        float: left;
        width: 100%;
        margin-left: 0px; }
        body .st-filter form.template-hotel-activity_submit .row-5 .col5 {
          -moz-user-select: none;
          -ms-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          -webkit-touch-callout: none;
          width: 20%;
          float: left;
          position: relative;
          padding: 30px; }
          body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date label {
            color: #000000;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: normal;
            display: block;
            letter-spacing: 1px;
            font-weight: 400;
            text-align: center; }
          body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content {
            position: relative; }
            body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .options .day {
              cursor: pointer;
              text-align: center;
              color: #3484F5; }
              body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .options .day span {
                font-size: 3.6rem; }
            body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .options .month-year {
              text-align: center; }
              body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .options .month-year span {
                font-size: 1.6rem; }
            body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .st-number .adult {
              color: #3484F5;
              font-size: 1.6rem;
              position: relative;
              text-align: center;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center; }
              body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .st-number .adult strong.num {
                min-width: 28px;
                font-size: 3.6rem;
                text-align: center;
                font-weight: 400;
                margin-left: 2px;
                margin-right: 2px; }
              body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .st-number .adult span {
                cursor: pointer;
                height: 16px; }
                body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .st-number .adult span.minus {
                  /* margin-bottom:13px; */ }
            body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .st-number .type-person {
              text-align: center; }
              body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .st-number .type-person span {
                font-size: 1.6rem; }
            body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .helios-input {
              bottom: 0;
              height: 19px;
              left: 0;
              opacity: 0;
              position: absolute;
              width: 100%; }
            body .st-filter form.template-hotel-activity_submit .row-5 .col5 .choose-date .item-search-content .wpbooking-check-in-out {
              bottom: 0;
              height: 19px;
              left: 0;
              opacity: 0;
              position: absolute;
              width: 100%; }
          body .st-filter form.template-hotel-activity_submit .row-5 .col5 .control {
            float: left;
            height: 100%;
            width: 100%; }
            body .st-filter form.template-hotel-activity_submit .row-5 .col5 .control .btn {
              border: none;
              border-radius: 0;
              font-size: 14px;
              font-weight: bold;
              height: 100%;
              letter-spacing: 2px;
              width: 100%;
              line-height: 25px;
              padding: 56px 10px;
              background-color: #3484F5;
              margin: auto; }
              body .st-filter form.template-hotel-activity_submit .row-5 .col5 .control .btn:active {
                background-color: #3484F5; }
          body .st-filter form.template-hotel-activity_submit .row-5 .col5:last-child {
            height: 100%;
            padding: 0px; }
  body #main-content .container .box__separator_line {
    margin: 0 auto;
    height: 1px;
    width: 100%;
    opacity: 0.2;
    background: #1A2B48;
    border: none; }
  body #main-content .container .row {
    margin-bottom: 0px; }
    body #main-content .container .row.st-no-padding-row {
      padding-top: 0px;
      padding-bottom: 0px; }
    body #main-content .container .row.padding-top-30 {
      padding-top: 30px; }
    body #main-content .container .row div .st-form-send-mail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      float: right; }
      body #main-content .container .row div .st-form-send-mail .st-form-newleter {
        margin-left: 40px;
        width: 400px;
        position: relative; }
        body #main-content .container .row div .st-form-send-mail .st-form-newleter form {
          position: relative; }
          body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input {
            border-bottom: 2px solid;
            position: absolute;
            width: 100%;
            bottom: -43px; }
            body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input input {
              border: none;
              width: 94%;
              padding-bottom: 15px; }
              body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input input::-webkit-input-placeholder {
                opacity: 0.7;
                font-family: 'Poppins';
                font-size: 14px;
                color: #1A2B48;
                letter-spacing: 0; }
              body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input input::-moz-input-placeholder {
                opacity: 0.7;
                font-family: 'Poppins';
                font-size: 14px;
                color: #1A2B48;
                letter-spacing: 0; }
              body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input input::-ms-input-placeholder {
                opacity: 0.7;
                font-family: 'Poppins';
                font-size: 14px;
                color: #1A2B48;
                letter-spacing: 0; }
              body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input input::-webkit-input-placeholder {
                opacity: 0.7;
                font-family: 'Poppins';
                font-size: 14px;
                color: #1A2B48;
                letter-spacing: 0; }
              body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input input::-moz-placeholder {
                opacity: 0.7;
                font-family: 'Poppins';
                font-size: 14px;
                color: #1A2B48;
                letter-spacing: 0; }
              body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input input:-ms-input-placeholder {
                opacity: 0.7;
                font-family: 'Poppins';
                font-size: 14px;
                color: #1A2B48;
                letter-spacing: 0; }
              body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input input::placeholder {
                opacity: 0.7;
                font-family: 'Poppins';
                font-size: 14px;
                color: #1A2B48;
                letter-spacing: 0; }
            body #main-content .container .row div .st-form-send-mail .st-form-newleter form .st-gr-input button {
              border: none;
              padding: 0;
              background: transparent; }
    body #main-content .container .row div .item-table {
      padding-left: 0px;
      padding-right: 0px;
      display: block;
      position: relative;
      overflow: hidden; }
      body #main-content .container .row div .item-table .owl-carousel {
        display: block;
        margin: 0;
        padding: 0; }
        body #main-content .container .row div .item-table .owl-carousel .owl-stage-outer {
          overflow: visible; }
          body #main-content .container .row div .item-table .owl-carousel .owl-stage-outer .owl-stage .owl-item {
            padding: 0px;
            visibility: visible;
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
            body #main-content .container .row div .item-table .owl-carousel .owl-stage-outer .owl-stage .owl-item:hover {
              -webkit-box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1);
              overflow: visible; }
            body #main-content .container .row div .item-table .owl-carousel .owl-stage-outer .owl-stage .owl-item .item-tb .st-item {
              border: 1px solid #E1E5EA;
              padding: 72px; }
              body #main-content .container .row div .item-table .owl-carousel .owl-stage-outer .owl-stage .owl-item .item-tb .st-item .padd-on img {
                width: 83px;
                height: 64px;
                margin: 0 auto;
                margin-bottom: 30px; }
              body #main-content .container .row div .item-table .owl-carousel .owl-stage-outer .owl-stage .owl-item .item-tb .st-item .padd-on .content-text h2 {
                font-family: 'Playfair Display';
                font-size: 24px;
                color: #1A2B48;
                letter-spacing: 0;
                text-align: center; }
        body #main-content .container .row div .item-table .owl-carousel .disabled {
          display: none; }
        body #main-content .container .row div .item-table .owl-carousel .owl-dots {
          margin-top: 54px;
          text-align: center;
          height: 35px;
          padding: 9px; }
          body #main-content .container .row div .item-table .owl-carousel .owl-dots button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid transparent;
            margin-right: 10px;
            margin-left: 10px;
            background: #d8d8d8; }
          body #main-content .container .row div .item-table .owl-carousel .owl-dots .active {
            background: #3484F5; }
    body #main-content .container .row div .item-room:hover .img-thumnail img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    body #main-content .container .row div .item-room .img-thumnail {
      width: 100%;
      overflow: hidden; }
      body #main-content .container .row div .item-room .img-thumnail img {
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        height: 370px;
        -o-object-fit: cover;
        object-fit: cover; }
  body #main-content .full-width {
    display: inline-block;
    width: 100%;
    position: relative;
    clear: both; }
    body #main-content .full-width .thm-instagram {
      width: 20%;
      float: left;
      position: relative; }
      body #main-content .full-width .thm-instagram .item_insta {
        position: relative;
        overflow: hidden; }
        body #main-content .full-width .thm-instagram .item_insta img {
          height: 288px;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          webkit-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        body #main-content .full-width .thm-instagram .item_insta:hover img {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1); }
  body .content-text {
    height: 100%;
    display: block;
    position: relative; }
    body .content-text.style-2 h2 {
      text-align: left; }
    body .content-text.style-2 p.text-center {
      text-align: left; }
    body .content-text.style-2 .button-color.text-center {
      text-align: left; }
      body .content-text.style-2 .button-color.text-center a {
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 0px;
        border: 1px solid #3484F5;
        background-color: transparent;
        color: #3484F5;
        font-size: 14px;
        padding: 10px 24px;
        line-height: 50px;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s; }
        body .content-text.style-2 .button-color.text-center a:hover {
          color: #FFF;
          border: none; }
    body .content-text .st-text-center .process-bg {
      position: absolute;
      top: 48px;
      right: 6px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      body .content-text .st-text-center .process-bg img {
        margin: 0 auto;
        filter: gray;
        -webkit-filter: grayscale(1);
        -ms-filter: grayscale(1);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 60px;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover; }
    body .content-text.padding-0 .st-text-center {
      padding: 0px; }
    body .content-text h2.st_default {
      font-family: 'Playfair Display';
      font-size: 36px;
      color: #1A2B48;
      letter-spacing: 0;
      text-align: left;
      font-weight: 600;
      margin-bottom: 30px; }
    body .content-text .text-center {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      color: #5E6D77;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 30px; }
    body .content-text .st_default {
      font-family: Poppins;
      font-size: 16px;
      color: #5E6D77;
      letter-spacing: 0;
      margin-bottom: 30px;
      text-align: left; }
      body .content-text .st_default.style-5-content {
        position: relative;
        z-index: 2; }
    body .content-text h2.text-center {
      font-family: 'Playfair Display', serif;
      font-size: 36px;
      color: #1A2B48;
      letter-spacing: 0;
      padding-bottom: 0px;
      margin-bottom: 25px;
      font-weight: 600; }
    body .content-text h2.style-3 {
      font-family: 'Poppins';
      font-size: 32px;
      color: #1A2B48;
      letter-spacing: 0;
      text-align: center;
      font-weight: 500; }
    body .content-text .style-3-content {
      font-family: 'Poppins';
      font-size: 16px;
      color: #1A2B48;
      letter-spacing: 0;
      text-align: center;
      font-weight: 400;
      line-height: 35px; }
      body .content-text .style-3-content h3 {
        font-size: 18px;
        color: #1A2B48;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;
        line-height: 35px; }
    body .content-text .text-center.style-4-content {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 18px;
      color: #1A2B48;
      letter-spacing: 0;
      text-align: left; }
    body .content-text h2.style-4 {
      font-family: 'Playfair Display';
      font-size: 18px;
      color: #1A2B48;
      letter-spacing: 0;
      text-align: left;
      font-weight: 600; }
    body .content-text .box__separator {
      margin: 0 auto;
      height: 2px;
      width: 80px;
      background: #1A2B48;
      border: none;
      margin-bottom: 25px; }
      body .content-text .box__separator.st_default {
        margin: 0px;
        margin-bottom: 30px; }
    body .content-text .box__separator_style-4 {
      margin-left: 0px; }
    body .content-text .button-color a {
      position: relative;
      overflow: hidden;
      border-radius: 0px;
      border: 1px solid #3484F5;
      background-color: transparent;
      color: #3484F5;
      font-size: 14px;
      padding: 10px 24px;
      line-height: 50px;
      -webkit-transition: background-color .3s;
      transition: background-color .3s; }
      body .content-text .button-color a:hover {
        border: none;
        color: #FFFFFF; }
        body .content-text .button-color a:hover::after {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
      body .content-text .button-color a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        background: #3484F5;
        z-index: -1;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s; }

#st-footer-hotel-activity {
  margin-top: 80px; }

footer .wpb_text_column img {
  max-width: 100%;
  height: auto; }

footer .st-center-flex p {
  float: right; }
  footer .st-center-flex p img {
    width: 84px;
    height: 84px;
    -o-object-fit: cover;
    object-fit: cover; }

footer .mc4wp-response {
  display: inline-block;
  float: right;
  position: absolute;
  right: 15px;
  bottom: -30px; }

footer .st-text-newletter {
  display: inline-block;
  float: left;
  margin-left: 65px; }
  footer .st-text-newletter .st-title-newlet p {
    font-family: Playfair Display;
    font-size: 22px;
    color: #1A2B48;
    letter-spacing: 0;
    font-weight: bold; }
  footer .st-text-newletter .st-title-des {
    font-size: 14px;
    color: #1A2B48;
    letter-spacing: 0; }

footer .st-gr-input {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 40px;
  margin-top: 5px; }
  footer .st-gr-input input {
    border: none;
    width: 400px;
    padding-bottom: 15px;
    border-bottom: 2px solid;
    background: transparent; }
    footer .st-gr-input input::-webkit-input-placeholder {
      opacity: 0.7;
      font-family: 'Poppins';
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
    footer .st-gr-input input::-moz-input-placeholder {
      opacity: 0.7;
      font-family: 'Poppins';
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
    footer .st-gr-input input::-ms-input-placeholder {
      opacity: 0.7;
      font-family: 'Poppins';
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
    footer .st-gr-input input::-webkit-input-placeholder {
      opacity: 0.7;
      font-family: 'Poppins';
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
    footer .st-gr-input input::-moz-placeholder {
      opacity: 0.7;
      font-family: 'Poppins';
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
    footer .st-gr-input input:-ms-input-placeholder {
      opacity: 0.7;
      font-family: 'Poppins';
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
    footer .st-gr-input input::placeholder {
      opacity: 0.7;
      font-family: 'Poppins';
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
  footer .st-gr-input input#st-submit {
    width: 20px;
    position: absolute;
    right: 0px;
    bottom: 5px;
    background: transparent;
    border: none;
    z-index: 2; }
    footer .st-gr-input input#st-submit.btn.active.focus {
      background: transparent;
      border: none; }
    footer .st-gr-input input#st-submit.btn.focus {
      background: transparent;
      border: none; }
    footer .st-gr-input input#st-submit.btn:active.focus {
      background: transparent;
      border: none; }
    footer .st-gr-input input#st-submit.btn:active:focus {
      background: transparent;
      border: none; }
    footer .st-gr-input input#st-submit.btn:focus {
      background: transparent;
      border: none; }
    footer .st-gr-input input#st-submit:hover {
      background: transparent;
      border: none; }
  footer .st-gr-input span#icon-new-letter {
    position: absolute;
    right: 8px;
    bottom: 16px;
    font-size: 16px;
    cursor: pointer; }

footer .st-item-box {
  padding: 0px; }
  footer .st-item-box:last-child .st-box {
    border-right: 1px solid #D7DCE3; }
  footer .st-item-box .st-box {
    padding: 34px 29px;
    min-height: 160px;
    border-top: 1px solid #D7DCE3;
    border-left: 1px solid #D7DCE3;
    border-bottom: 1px solid #D7DCE3; }
    footer .st-item-box .st-box .st-titlt-box {
      margin-bottom: 20px; }
      footer .st-item-box .st-box .st-titlt-box h3 {
        font-family: Poppins;
        font-size: 14px;
        color: #1A2B48;
        letter-spacing: 0;
        font-weight: 600;
        text-align: center; }
    footer .st-item-box .st-box .st-c0ontent-box {
      display: inline-block;
      width: 100%;
      text-align: center; }
      footer .st-item-box .st-box .st-c0ontent-box span {
        font-family: 'Poppins';
        color: #5E6D77;
        letter-spacing: 0;
        text-align: center;
        font-size: 16px; }
      footer .st-item-box .st-box .st-c0ontent-box .st-social {
        display: inline-block;
        position: relative; }
        footer .st-item-box .st-box .st-c0ontent-box .st-social li {
          float: left;
          padding-left: 20px;
          padding-right: 20px; }
          footer .st-item-box .st-box .st-c0ontent-box .st-social li a {
            color: #000000;
            font-size: 18px; }
            footer .st-item-box .st-box .st-c0ontent-box .st-social li a i {
              color: #000000;
              font-size: 18px; }

footer .menu-footer-new li {
  display: inline-block;
  float: left;
  margin-right: 60px; }
  footer .menu-footer-new li a {
    font-family: Poppins;
    font-size: 14px;
    color: #1A2B48;
    letter-spacing: 0;
    text-align: left; }

footer .st-end-footer {
  padding-bottom: 40px;
  display: block; }
  footer .st-end-footer .st-flex-footer {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .st-end-footer .st-flex-footer .left-footer .st-menu-footer {
      position: relative;
      display: inline-block;
      margin-bottom: 40px; }
      footer .st-end-footer .st-flex-footer .left-footer .st-menu-footer .menu-footer-new-container .menu-footer-new li {
        display: inline-block;
        float: left;
        margin-right: 60px; }
        footer .st-end-footer .st-flex-footer .left-footer .st-menu-footer .menu-footer-new-container .menu-footer-new li a {
          font-family: Poppins;
          font-size: 14px;
          color: #1A2B48;
          letter-spacing: 0;
          text-align: left; }
    footer .st-end-footer .st-flex-footer .left-footer .st-copy-right {
      font-family: Poppins;
      font-size: 14px;
      color: #5E6D77;
      letter-spacing: 0; }
    footer .st-end-footer .st-flex-footer .right-footer .img-list-logo {
      display: inline-block;
      position: relative; }
      footer .st-end-footer .st-flex-footer .right-footer .img-list-logo .st-list-image {
        position: relative;
        display: inline-block; }
        footer .st-end-footer .st-flex-footer .right-footer .img-list-logo .st-list-image li {
          display: inline-block;
          float: left;
          margin-left: 29px; }

.item-room {
  margin-bottom: 30px; }
  .item-room .info-item {
    position: relative; }
    .item-room .info-item .info {
      position: absolute;
      bottom: 0px;
      left: 0px;
      color: #ffffff;
      padding: 40px; }
      .item-room .info-item .info .price {
        font-family: 'Poppins';
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: left;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: left; }
      .item-room .info-item .info h4 {
        font-family: 'Playfair Display';
        letter-spacing: 0;
        text-align: left;
        margin: 0px;
        color: #FFFFFF;
        margin-top: 5px;
        font-size: 22px; }

/* RIGHT TO LEFT */
@media (min-width: 768px) {
  body.rtl .content-text.padding-0.st-default .st-text-center {
    float: none;
    text-align: center; }
  body.rtl .content-text.padding-0 .st-text-center {
    float: right;
    position: relative;
    text-align: right; }
    body.rtl .content-text.padding-0 .st-text-center .style-4 {
      text-align: right; }
    body.rtl .content-text.padding-0 .st-text-center .style-4-content {
      text-align: right; }
    body.rtl .content-text.padding-0 .st-text-center .box__separator_style-4 {
      margin-right: 0px; }
  body.rtl .title-insta .st-img-icon img {
    margin-right: 0px;
    margin-left: 10px; }
  body.rtl .sts-vinhome-slider .vinhome-slider-pag {
    right: 50px;
    left: auto; }
  body.rtl .content-text h2.st_default {
    text-align: right; }
  body.rtl .content-text .st_default {
    text-align: right; }
  body.rtl .st-service-item ul li:first-child {
    border-right: transparent !important; }
  body.rtl .st-service-item ul li:last-child {
    border-right: 1px solid #d8d8d8 !important; }
  body.rtl footer .st-item-box .st-box .st-c0ontent-box .st-social {
    float: none; }
  body.rtl .vc_align_left {
    float: right; }
  body.rtl .icon-images-scroll {
    left: 86px;
    right: auto; }
  body.rtl footer ul {
    float: right; }
    body.rtl footer ul li:last-child {
      margin-right: 0px; }
  body.rtl footer .st-gr-input input#st-submit {
    right: auto;
    left: 0px; }
  body.rtl footer .st-gr-input #icon-new-letter {
    left: 8px;
    right: auto; }
  body.rtl footer .st-item-box:last-child .st-box {
    border-right: none; }
  body.rtl footer .st-item-box:first-child .st-box {
    border-right: 1px solid #D7DCE3; }
  body.rtl .item-room .info-item .info .price {
    text-align: right; }
  body.rtl .item-room .info-item .info h4 {
    text-align: right; }
  body.rtl #carousel-example-generic .carousel-indicators {
    right: 0px;
    left: auto;
    margin-right: 50px;
    margin-left: 0 auto; }
  body.rtl h2 {
    direction: rtl;
    unicode-bidi: embed; }
  body.rtl .st-text-center > div {
    direction: rtl;
    unicode-bidi: embed; }
  body.rtl header .header-content .control-right {
    padding-right: 0px;
    padding-left: 60px; }
    body.rtl header .header-content .control-right .option-item:first-child::after {
      left: 0px;
      right: auto; }
  body.rtl header .nav.et_disable_top_tier li {
    text-align: right; }
  body.rtl header .nav.et_disable_top_tier li.menu-item-has-children > a:after {
    margin-left: 0px;
    margin-right: 3px; }
  body.rtl header .nav.et_disable_top_tier li.menu-item-has-children .sub-menu:after {
    left: auto;
    right: 20%; } }
