.mt-80 {
  margin-top: 80px; }

.sts-single-room-alone.style-3 .sts-banner {
  height: calc(100vh - 100px); }
  .sts-single-room-alone.style-3 .sts-banner > .container {
    position: relative;
    height: 100%; }
    .sts-single-room-alone.style-3 .sts-banner > .container .page-title.style-3 {
      text-align: left; }

.sts-single-room-alone.style-3 .sts-other-rooms {
  margin-top: 0; }

.sts-room-gallery-grid h2 {
  font-size: 24px;
  color: #1A2B48;
  font-family: "Playfair Display Bold", serif; }

.sts-room-gallery-grid .gallery-grid-content {
  margin-top: 40px;
  display: grid;
  grid-gap: 40px 30px;
  grid-template-columns: auto auto; }
  .sts-room-gallery-grid .gallery-grid-content .gallery-grid-item .gallery-grid-item-image {
    width: 100%;
    height: 100%;
    max-height: 700px;
    -o-object-fit: cover;
    object-fit: cover; }
  .sts-room-gallery-grid .gallery-grid-content .gallery-grid-item:nth-child(1) {
    grid-column: 1 / 3; }
  .sts-room-gallery-grid .gallery-grid-content .gallery-grid-item:nth-child(4) {
    grid-column: 1 / 3; }
  .sts-room-gallery-grid .gallery-grid-content .gallery-grid-item:nth-child(7) {
    grid-column-start: 2;
    grid-row: 4 / 6; }
    .sts-room-gallery-grid .gallery-grid-content .gallery-grid-item:nth-child(7) img {
      max-height: -webkit-max-content;
      max-height: -moz-max-content;
      max-height: max-content; }

.facility-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .facility-detail .facility-detail-left {
    width: 370px; }
    .facility-detail .facility-detail-left h2 {
      font-family: "Playfair Display Bold", serif;
      font-size: 24px;
      color: #1A2B48; }
    .facility-detail .facility-detail-left ul {
      margin-top: 50px; }
      .facility-detail .facility-detail-left ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 45px 0;
        border-bottom: 1px solid #D7DCE3; }
        .facility-detail .facility-detail-left ul li:first-child {
          border-top: 1px solid #D7DCE3; }
        .facility-detail .facility-detail-left ul li > i {
          margin-right: 20px; }
  .facility-detail .facility-detail-right {
    padding-left: 100px;
    max-height: 700px;
    width: 100%; }
    .facility-detail .facility-detail-right img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
